// Цвета
$primary-color: #a033db;
$secondary-color: #2eaccc;
$text-color: #333;
$background-color: #fbeaf9;

// Шрифты
$font-stack: 'Segoe UI', 'Helvetica Neue', sans-serif;

// Размеры
$container-max-width: 1200px;
$padding: 20px;
