# Виртуальное окружение (твои библиотеки Python)
venv/
env/
.venv/

# База данных SQLite (она постоянно меняется при тестах)
*.sqlite3
db.sqlite3

# Файлы кэша и байт-код Python
__pycache__/
*.pyc
*.pyo

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo

# Медиа-файлы (картинки, загрузки пользователей - если будут)
media/
